{% extends 'smi.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<h1 class="text-warning mb-5 border-bottom">CONTACT US  📞:- +91 789512345 <br> Email us 📧:-smithsingh232@gmail.com</h1>
<div class="container my-5 mx-5 px-5">
    <h2 class="title is-2 is-capitalized">Having any query fill free to ask...</h2>
    <form action="" method="post">
        <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light">
                Name:
            </label>
            <input type="text" name="name" id="name" class="input" autofocus>
        </div>
        <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light">
                Email:
            </label>
            <input type="email" name="email" id="email" class="input">
        </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light">
                Message:
            </label>
            <textarea name="message" id="message" rows="5" class="textarea is-large"></textarea>
        </div>
        <button type="submit" class="button is-success is-size-5">Submit</button>
    </form>
</div>
  

{% endblock body %}